.nothing__main-content  {
    color: $white;
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    p  {
        text-align: center;
    }
}